@charset "UTF-8";
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "asd", sans-serif;
  background-color: var(--color-white); }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

.is-outer {
  position: relative !important;
  left: -9999px !important; }

.site-container {
  overflow: hidden; }

.is-hidden {
  display: none !important; }

.error {
  border: 2px #ff4019 solid !important; }

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

/* ниже опционально добавил reset.css */
/* но нужно потом удалить т.к. это топорное решение*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'SFProDisplay-Light', sans-serif;
  src: url(../fonts/SFProDisplay-Light.woff2) format("woff2"), url(../fonts/SFProDisplay-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SFProDisplay-Regular', sans-serif;
  src: url(../fonts/SFProDisplay-Regular.woff2) format("woff2"), url(../fonts/SFProDisplay-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SFProDisplay-Medium', sans-serif;
  src: url(../fonts/SFProDisplay-Medium.woff2) format("woff2"), url(../fonts/SFProDisplay-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SFProDisplay-Semibold', sans-serif;
  src: url(../fonts/SFProDisplay-Semibold.woff2) format("woff2"), url(../fonts/SFProDisplay-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SFProDisplay-Bold', sans-serif;
  src: url(../fonts/SFProDisplay-Bold.woff2) format("woff2"), url(../fonts/SFProDisplay-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

/*# sourceMappingURL=global.css.map */
