%sf-regular{
  font-family: 'SFProDisplay-Regular', sans-serif;
  font-weight: 400;
}

%sf-semibold{
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 600;
}

%ubuntu-light{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
%ubuntu-medium{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;

}
%ubuntu-bold{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

$desktop1-bp: 1366px;
$desktop2-bp: 1280px;
$desktop3-bp: 1135px;
$desktop4-bp: 1180px;
$tablet1-bp: 1100px;
$tablet2-bp: 1024px;
$tablet3-bp: 965px;
$tablet4-bp: 945px;
$tablet5-bp: 885px;
$tablet6-bp: 787px;
$tablet7-bp: 680px;
$mobile1-bp: 560px;
$mobile2-bp: 520px;
$mobile3-bp: 420px;
$mobile4-bp: 375px;
$mobile5-bp: 340px;



